<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property resource="application.properties" />
	<property name="logback.path" value="/home/myyz/wasLog" />

	<appender name="LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logback.path}/debug.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logback.path}/debug.log.%d{yyyy-MM-dd}</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%-80(%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %logger{35}) - %msg%n</pattern>
		</encoder>

		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>DEBUG</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>TRACE</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>WARN</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<logger name="org.springframework" level="info" />

	<logger name="jdbc.sqlonly" level="info" />
	<logger name="jdbc.sqltiming" level="info" />
	<logger name="jdbc.audit" level="info" />
	<logger name="jdbc.resultset" level="info" />
	<logger name="jdbc.resultsettable" level="info" />
	<logger name="jdbc.connection" level="info" />

	<root level="info">
		<appender-ref ref="LOG_FILE" />
	</root>
</configuration>
