<!-- 일반 문서 자료실 HTML File 입니다. -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head">
	<!-- html head area -->
</head>
<body class="hold-transition skin-blue sidebar-mini">

<div class="wrapper">
	<div th:replace="fragments/layout :: header"></div>
	<div th:replace="fragments/layout :: menu-sidebar"></div>

	<div class="content-wrapper" id="accountListContent">
		<div th:replace="fragments/layout :: content-header"></div>

		<!-- Main content -->
		<section class="content">
			<!-- 검색 Area -->
			<div class="row">
				<div class="col-md-12">
					<div class="box box-primary">
<!-- 						<div class="box-header with-border"> -->
<!-- 							<h3 class="box-title"><i class="fa fa-search"></i>검색</h3> -->
<!-- 						</div> -->

						<div class="box-body form-horizontal">
							<div class="row form-group-lg">
								<label class="col-md-1 control-label">검색조건</label>
								<div class="col-md-2">
									<select class="form-control" name="searchCondition" id="searchCondition" style="width:100%;">
										<option value="2">파일명</option>
										<option value="1">등록자 ID</option>			
										<option value="3">파일명+등록자 ID</option>
									</select>
								</div>
								<div class="col-md-2">
									<input type="text" class="form-control" name="searchWord" id="searchWord" style="width:100%; height:100%;">
								</div>							
								<div class="col-md-2" style="margin-left:0.5%">
									<button class="btn btn-primary btn-lg pull-left" name="bt_search" style="background-color:black"><i class="fa fa-search"> 검색</i></button>
								</div>
								<div class="col-md-1 pull-right" style="margin-right:0.5%">
									<button class="btn btn-primary btn-lg pull-right" name="bt_regist" style="background-color:green"><i class="fa fa-pencil"> 업로드</i></button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- 목록 Area -->
			<div class="row" >
				<div class="col-md-12">
					<div class="box box-info">
						<div class="box-body" style="width:100%;">
							<p id="totalCount"></p>
							<form id="GeneralDocumentDownloadForm">
								<input type="hidden" name="killUploadURL" th:value="${result}">
								<input type="hidden" name="fileName">
								<input type="hidden" name="seq_file">
								<table style="width:100%; font-size:16px;">
									<thead>
										<tr style="height:100px;">
											<th style="vertical-align:middle; width:5%;">번호</th>
											<th style="vertical-align:middle; width:35%;">파일명</th>
											<th style="vertical-align:middle; width:20%;">등록자 ID</th>
											<th style="vertical-align:middle; width:20%;">등록일</th>
											<th style="vertical-align:middle; width:10%;">다운로드횟수</th>
											<th style="vertical-align:middle; display:none;">seq</th>
											<th style="vertical-align:middle;"></th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
							</form>
							<!-- Pagination --><br><br>
							<div class="row">
							<div id="pageNumber" style="float:left; text-align:center; width:100%; margin-top:10px; font-size:30px;"></div>
							<!-- 
								<div class="col-sm-12 text-center">
									<b-pagination size="md" :total-rows="total_count" v-model="currentPage" :per-page="pageSize" :limit="pagenationSize"/>
								</div>
							 -->
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- 상세 Area -->
		</section>
	</div>

	<div th:replace="fragments/layout :: footer"></div>
	<div th:replace="fragments/layout :: expire-warning"></div>
</div>
<style>
	table {
	  border-collapse: collapse;
	  border-spacing: 0;
	  width: 100%;
	  border: 1px solid #ddd;
	}
	
	th, td {
	  text-align: left;
	  padding: 16px;
	  text-align:center;
	}
	
	tr:nth-child(even) {
	  background-color: #f2f2f2
	}
	
	input{
		width: 80%;
		height: 15%;
		background-color:light-gray;
		color:black;
	}
</style>
<script src="/js/paging.js"></script>
<script>
	var totalRecode = 0;	// Server 에서 가져온 Data 의 총 개수
	var currentPage = 1;	// 현재 보고 있는 Page 번호
	var pageSize = 10;		// 한 Page 에 보여질 Data 의 개수
	var totalPage = 0;		// 총 Data 를 한페이지에 보여질 Data 개수로 나누어 나온 총 페이지 개수
	var blockSize = 10;		// 페이지를 한 화면에 몇개씩 보여줄건지 나타내는 변수
	var firstPage = 0;		// 현재 Block 에서 제일 첫번째 Page 번호
	var lastPage = 0;		// 현재 Block 에서 제일 마지막 Page 번호
	var curPos = 0;			// Server 에서 받은 DataList 에서 현재 Page 번째에서 보여줘야할 Data 시작점 Data 의 Index
	var num = 0;			// 현제 Page 에서 보여지는 Data 의 시작번째 수를 나타냄
	var fileList = null;	// Server 에서 가져온 Data 를 전역영역 으로 끌어 올리기 위해 선언한 전역변수 (다른 Method 들도 볼 수 있게)
	
	$(function(){
		init();
		checkSession();
		killUploadURL();
		getFileList();						
	});				
	
	//------------------------------------------------------------
	// 업로드 후 새로고침 URL 죽이기
	//------------------------------------------------------------
	function killUploadURL(){
		var uploadURL = $("input[name='killUploadURL'").val();
		if(uploadURL == '/board/generalDocumentBoard.html'){
			location.href="/admin/menu/generalDocumentBoard";
		}
	}
	
	
	
	//-------------------------------------------------------------
	// Page 초기화
	//-------------------------------------------------------------
	function init(){
		//******************************************************
		// 검색어 입력창에서 Enter 누를시 검색!
		//******************************************************
		var searchWord = document.getElementById("searchWord");
		searchWord.addEventListener('keydown', function(event){
			if(event.keyCode == 13){
				search();
			}
		});
		$("button[name='bt_search']").click(function(){
			search();
		});
		$("button[name='bt_regist']").click(function(){
			write();
		});
	}
	
	
	
	
	
	
	//-----------------------------------------------------------------
	// File selectAll
	//-----------------------------------------------------------------
	function getFileList(){
		$.ajax({
			url:"/admin/generalDocument/all",
			type:"get",
			success:function(result){
				var json = JSON.parse(result);			// SERVER 로 부터 받은 String JSON 으로 형변환
				fileList = json.generalDocumentList;				// JSON 에 담긴 Data 꺼냄
				var count = json.generalDocumentList.length;		// 총 Data 개수 구함
				$("#totalCount").text("*전체 게시물 개수 : "+count);
				if(count==0){
					$($("table").find("tbody")).append("<tr><td colspan='5'><b>게시글이 없습니다.</b></td></tr>");
					return;
				}
				pagination(count, currentPage);			// Paging 처리 변수 초기화 및 Pagination 표현
				$("table > tbody").empty();				// Table 한번 비워주고
				for(var i=0; i<pageSize; i++){			// PageSize 만큼 반복하며 Data 를 출력! (한페이지에 PageSize 만큼 출력이 되야하므로)
					if(num<1){							// PageNumber 마다 보여지는 게시물 번호가 1보다 작아지면
						break;							// Data 출력을 멈춤
					}
					var file = json.generalDocumentList[curPos++];	// 현재 Page 에 보여져야할 Data 를 Server 에서 가져와 저장한 DataList 에서 꺼냄
					$($("table").find("tbody")).append("<tr><td>"+(num--)+"</td><td><a href=\"/admin/generalDocument/detailPage?fileName="+file.file_name+"&seq="+file.seq+"\">"+file.file_name+"</a></td><td>"+file.uploader
														+"</td><td>"+file.date+"</td><td>"+file.hit+"</td><td style=\"display:none;\">"+file.seq+"</td><td style=\"width:20%;\"><input type=\"button\" name=\"bt_download\" value=\"다운로드\" onClick=\"runBtDownload(this)\"></td></tr>");	// 꺼낸후 Table 에 붙힘
				}				
			}
		});		
	}
	
	
	
	
	
	//-----------------------------------------------------------------
	// Search
	//-----------------------------------------------------------------
	function search(){
		var searchConditionValue = $("select[name='searchCondition']").val();
		var searchWord = $("input[name='searchWord']").val();
		
		//alert(fileKind+","+product+","+company);
		$.ajax({
			url:"/admin/generalDocument/search",
			type:"get",
			data:{
				"searchConditionValue":searchConditionValue,
				"searchWord":searchWord
			},
			success:function(result){
				var json = JSON.parse(result);
				var count = json.generalDocumentList.length;
				$("#totalCount").text("*전체 게시물 개수 : "+count);
				fileList = json.generalDocumentList;
				pagination(count, currentPage);
				$("table > tbody").empty();
				if(count==0){
					$($("table").find("tbody")).append("<tr><td colspan='5'><b>조회결과가 없습니다.</b></td></tr>");
					return;
				}
				for(var i=0; i<pageSize; i++){
					if(count<1){
						break;
					}
					var file = json.generalDocumentList[curPos++];
					$($("table").find("tbody")).append("<tr><td>"+count+"</td><td><a href=\"/admin/generalDocument/detailPage?fileName="+file.file_name+"&seq="+file.seq+"\">"+file.file_name+"</a></td><td>"+file.uploader+"</td><td>"+file.date+"</td><td>"+file.hit+"</td><td style=\"display:none;\">"+file.seq+"</td><td style=\"width:10%;\"><input type=\"button\" name=\"bt_download\" value=\"다운로드\" onClick=\"runBtDownload(this)\"></td></tr>");
					count--;
				}	
			}
		});
	}
	
	
	
	
	
	
	//-----------------------------------------------------------------
	// download
	//-----------------------------------------------------------------
	function runBtDownload(row){
		if(!confirm("다운로드하시겠습니까?")){
			return;
		}
		var bt_download_count = $("input[name='bt_download']").length;
		var seq = "";
		var fileName = "";
		for(var a=0; a<bt_download_count; a++){
			if($("input[name='bt_download']")[a] == row){				
				seq = $($($("table").find("tr")[a+1]).find("td")[5]).text();
				fileName =  $($($("table").find("tr")[a+1]).find("td")[1]).text();								
			}
		}
		
		$("input[name='fileName']").val(fileName);
		$("input[name='seq_file']").val(seq);		
		
		$("#GeneralDocumentDownloadForm").attr({
			action:"/admin/generalDocument/download",
			method:"get",

		});
		$("#GeneralDocumentDownloadForm").submit();
		
		//location.reload();
	}
	
	

	//-----------------------------------------------------------------
	// write
	//-----------------------------------------------------------------
	function write(){
		location.href="/admin/generalDocument/registPage";
	}
	
	
</script>


<!-- Page import scripts -->

<!-- Page script -->
<script>
var pageNum = 1;
var onLoad = true;

var app = new Vue({
	name: 'EmployeeList',
	el: '#accountListContent',
	data: {
		pageHeader: {
			title: '일반 문서 자료실',
			description: '필요한 문서를 Upload 하여 어디서든 Download 받아 사용하세요.',
			breadcrumb: '<li><a href="/dashboard"><i class="fa fa-home"></i> Home</a></li><li>자료실</li><li class="active">문서자료실</li>'
		}
	}
});
</script>
</body>
</html>